body {
  font-family: Arial, sans-serif;
}

:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

.container-fluid{
  width: 95% !important;
}

/* dashboard page */
.dropdown-item:hover {
  background-color: #c1efde !important;
}

#wrapper {
  overflow-x: hidden;
  /* background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  ); */
}
.stat-card {
  border-radius: 20px;
  transition: 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.icon-box {
  font-size: 2.3rem;
  color: var(--main-text-color);
  background: var(--second-bg-color);
  padding: 15px;
  border-radius: 50%;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: #212529;
}

#sidebar-wrapper .list-group {
  width: 17rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -17rem;
  }
}
 /* Pagination active color */
  .pagination .page-item.active .page-link {
    background-color: #009d63;
    border-color: #009d63;
    color: white;
  }

  /* Pagination hover color */
  .pagination .page-link:hover {
    background-color: #009d63;
    border-color: #009d63;
    color: white;
  }

  /* Pagination default text color */
  .pagination .page-link {
    color: #009d63;
  }

  /* page products */
  .product-image-container img{
    width: 15rem;
    height: 15rem;
  }
